{{#if error}}
    <p>{{error}}</p>
{{/if}}
<p>Please Enter your phone number to receive a verification code</p>
<form action="/step2" method="post">
    <input type="tel" name="number"/>
    <input type="submit" value="send code"/>
</form>