<!DOCTYPE html>
<html lang="en">
<head>
    <title>Two Step verification</title>
</head>
<body>
    <h1>Two Step verification</h1>
    <p>you have successfully verified your phone number</p>
</body>
</html>