<!DOCTYPE html>
<html lang="en">
<head>
    <title>Two Step verification</title>
</head>
<body>
    <h1>Two Step verification</h1>

    
    <p>Please Enter your phone number to receive a verification code</p>
    <form action="/step2" method="post">
        <input type="tel" name="number"/>
        <input type="submit" value="send code"/>
    </form>
</body>
</html>
